__pycache__/

/.hydra/
/logs/
/results/
/checkpoints/
*.tar.bz2
*.meshb

/experiment_data/*
!/experiment_data/checkpoints/
/experiment_data/checkpoints/*
!/experiment_data/checkpoints/pretrained_model/
!/experiment_data/checkpoints/pretrained_model/**
!/experiment_data/filelists/
/experiment_data/filelists/*
!/experiment_data/filelists/default/
!/experiment_data/filelists/default/**
!/experiment_data/test_mesh/
/experiment_data/test_mesh/*
!/experiment_data/test_mesh/samples/
!/experiment_data/test_mesh/samples/**